<div class="container">
    <div class="row justify-content-between">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6  col-md-2 text-center">
            <!-- Footer Logo -->
            <a href="#" class="footer-logo">
                <img src="./img/core-img/logo.png" alt="">
            </a>
        </div>
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-md-4 text-center">
            <div class="single-footer-widget mb-80">

                <!-- Widget Title -->
                <h4 class="widget-title">CONTACT US</h4>

                <!-- Contact Address -->
                <div class="contact-address">
                    <p>Tel:<a aria-hidden="true" href="tel://(201) 847-9900"> (201) 847-9900</a></p>
                    <p>E-mail: athenanails2019@gmail.com</p>
                    <p>Address: 5630 W Loop 1604 N Suite 115 San Antonio, Texas 7825</p>
                </div>
            </div>
        </div>
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6  col-md-3 text-center">
            <!-- Widget Title -->
            <h4 class="widget-title mb-30">OPENING TIMES</h4>

            <!-- Open Times -->
            <div class="open-time">
                <p>Monday - Saturday: 9.30 to 19.30</p>
                <p>Sunday: 11.30 to 18.00</p>
            </div>

        </div>
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6  col-md-3 text-center">
            <div class="single-footer-widget mb-80">
                <!-- Widget Title -->
                <h4 class="widget-title">FOLLOW US</h4>
                <!-- Social Info -->
                <div class="social-info">
                    <a target="_blank" href="https://www.facebook.com/AthenaNandS/" class="facebook"><i
                            class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="row copyright">
        <p>Copyright © AthenaNails <br>
            Designed by <a href="http://">Donald Trieu</a>. All rights reserved.</p>
    </div>
</div>