<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>AthenaNails & Spa</title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/icon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="./style.css">

    <link rel="stylesheet" href="./css/owl.carousel.min.css">

    <link rel="stylesheet" href="./style_main.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Magnific Popup core JS file -->

    <script src="./js/jquery.magnific-popup.min.js"></script>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->
    <div class="social">
        <!-- Social Info -->
        <a target="_blank" href="https://www.facebook.com/AthenaNailsSpaSanAntonio/" class="facebook"><i
                class="fa fa-facebook"></i></a>
        <a target="_blank" href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a target="_blank" href="https://www.instagram.com/athena_nails_spa_sanantonio/?hl=vi" class="instagram"><i
                class="fa fa-instagram"></i></a>
    </div>
    <!-- Header Area Start -->
    <header class="header-area">
        {{>header}}
    </header>
    <!-- Header Area End -->
    {{{body}}}
    <!-- Footer Area Start -->
    <footer class="footer-area section-padding-80-0">
        {{>footer}}

        <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <div class="fmessengerBtn">
            <script>
                window.fbAsyncInit = function () {
                    FB.init({
                        xfbml: true,
                        version: "v3.3"
                    });
                };
            </script>
            <div id="fb-root"></div>
            <div class="fb-customerchat" attribution=setup_tool page_id="315965865754643" theme_color="#13cf13"
                logged_in_greeting="Hi! We are AthenaNails, How can We help you ?"
                logged_out_greeting="Hi! We are AthenaNails, How can We help you ?">
            </div>
        </div>
    </footer>

    <!-- Footer Area End -->

    <!-- All JS Files -->
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Popper -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="js/akame.bundle.js"></script>
    <!-- Active -->
    <script src="js/default-assets/active.js"></script>

    <script src="js/owl.carousel.min.js"></script>

    <script src="jquery_main.js"></script>

    <script src="header.js"></script>
 
</body>

</html>