<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel owl-theme carousel-main">
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img"
            style="background-image: url('https://firebasestorage.googleapis.com/v0/b/athenanailsgallery.appspot.com/o/img%2Fbg-img%2F18.jpg?alt=media&token=5d482be8-5225-45fa-8ef1-461e9b0b2f7e')">
            <!-- Welcome Content -->
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img"
            style="background-image: url('https://firebasestorage.googleapis.com/v0/b/athenanailsgallery.appspot.com/o/img%2Fbg-img%2F16.jpg?alt=media&token=78567eb8-641f-46d9-b36c-b090efa80205')">
            <!-- Welcome Content -->

        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img"
            style="background-image: url('https://firebasestorage.googleapis.com/v0/b/athenanailsgallery.appspot.com/o/img%2Fbg-img%2F17.jpg?alt=media&token=f1a96c18-fb42-4329-8c1e-e6a10f8667bd')">
            <!-- Welcome Content -->

        </div>
    </div>
</section>
<!-- Welcome Area End -->

<!-- About Area Start -->
<section class="akame-about-area section-padding-80-0">
    <div class="container">
        <div class="row align-items-center">
            <!-- Section Heading -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="section-heading mb-80">
                    <h2>&nbsp;&nbsp;&nbsp; Athena</h2>
                    <h2>Nails &amp; Spa</h2>
                    <p>The House of Nails &amp; Spa</p>
                    <span>About Us</span>
                </div>
            </div>

            <!-- About Us Thumbnail -->
            <div class="col-12 col-md-6 col-lg-5">
                <iframe class="col-12" height="315" src="https://www.youtube.com/embed/xOuCm6lfHeo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <!-- About Us Content -->
            <div class="col-12 col-lg-3">
                <div class="about-us-content mb-80">
                    <h3>Beautiful Nails Comes From A Legendary.</h3>
                    <p>“Maybe your life is not sparkle but your Nails can be”</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->

<!-- Border -->
<div class="container">
    <div class="border-top mt-3"></div>
</div>

<!-- Our Service Area Start -->
<section class="akame-service-area pt-50">
    <div class="container">
        <div class="row">
            <div class="col-12 drink-header">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h3>OUR DRINK MENU</h3>
                    <h5>Complimentary Wine & Beverages </h5>
                    <p>(Must Show Valid ID of 21+)</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-15">
            <div class="drink_box text-center col-12 col col-md-auto">
                <h6>Blue Hawaiian</h6>
                <img src="./img/drink1.jpg" alt="Blue Hawaiian">
            </div>
            <div class="drink_box text-center col-12 col col-md-auto">
                <h6>Margarita</h6>
                <img src="./img/drink2.jpg" alt="Margarita">
            </div>
            <div class="drink_box text-center col-12 col  col-md-auto">
                <h6>Pina Colada</h6>
                <img src="./img/drink3.jpg" alt="Pina Colada">
            </div>
            <div class="drink_box text-center col-12 col  col-md-auto">
                <h6>Mimosa</h6>
                <img src="./img/drink4.jpg" alt="Mimosa">
            </div>
            <div class="drink_box text-center col-12 col col-sm-3 col-md-auto">
                <h6>Champagne</h6>
                <img src="./img/drink5.jpg" alt="Champagne">
            </div>
        </div>

        <div class="row services mt-40">

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3 item-service">
                <div class="fadeInUp text-center" data-wow-delay="200ms">
                    <a href="">
                        <img src="./img/services-02.jpg" alt="">
                    </a>

                    <h3>
                        <a href="/service">
                            Nail Enhancements
                        </a>
                    </h3>
                </div>
            </div>
            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3 item-service">
                <div class="fadeInUp text-center" data-wow-delay="200ms">
                    <a href="">
                        <img src="./img/services-06.jpg" alt="">
                    </a>

                    <h3>
                        <a href="/service">
                            Add on services
                        </a>
                    </h3>
                </div>
            </div>
            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3 item-service">
                <div class="fadeInUp text-center" data-wow-delay="200ms">
                    <a href="">
                        <img src="./img/services-03.jpg" alt="">
                    </a>

                    <h3>
                        <a href="http://">
                            PidiCure & Manicure
                        </a>
                    </h3>
                </div>
            </div>
            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3 item-service">
                <div class="fadeInUp text-center" data-wow-delay="200ms">
                    <a href="">
                        <img src="./img/services-04.jpg" alt="">
                    </a>

                    <h3>
                        <a href="http://">
                            Waxing
                        </a>
                    </h3>
                </div>
            </div>


        </div>
    </div>
    </div>
</section>
<!-- Our Service Area End -->

<!-- Border -->
<div class="container">
    <div class="border-top mt-3"></div>
</div>

<!-- Portfolio Area Start -->
<section class="akame-portfolio mt-50 mb-50 clearfix">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Gallery</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row akame-portfolio-area">
            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-3 akame-portfolio-item haircuts mb-30 wow fadeInUp"
                data-wow-delay="200ms">
                <div class="akame-portfolio-single-item">
                    <img src="./img/gallery-1.jpg" alt="">

                    <!-- Thumbnail Zoom -->
                    <a href="./img/gallery-1.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-3 akame-portfolio-item dye mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="akame-portfolio-single-item">
                    <img src="./img/gallery-2.jpg" alt="">


                    <!-- Thumbnail Zoom -->
                    <a href="./img/gallery-2.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-3 akame-portfolio-item shave mb-30 wow fadeInUp" data-wow-delay="400ms">
                <div class="akame-portfolio-single-item">
                    <img src="./img/gallery-3.jpg" alt="">

                    <!-- Thumbnail Zoom -->
                    <a href="./img/gallery-3.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-3 akame-portfolio-item hairstyle mb-30 wow fadeInUp"
                data-wow-delay="500ms">
                <div class="akame-portfolio-single-item">
                    <img src="./img/gallery-4.jpg" alt="">

                    <!-- Thumbnail Zoom -->
                    <a href="./img/gallery-4.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Area End -->

<section class="akame-cta-area bg-gray section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-xl-5">
                <div class="cta-content">
                    <h2>Make Athena Your <br>Number One Choice</h2>
                    <p> Saturday is the day for Spa. Relax, indulge, enjoy, and love youeself too.
                    </p>
                    <footer class="text-right">---Ana Monnar---</footer>
                    <div class="akame-btn-group mt-30">
                        <a href="/contact" target="_blank" class="btn akame-btn">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA Thumbnail -->
    <div class="cta-thumbnail bg-img"
        style="background-image: url(https://firebasestorage.googleapis.com/v0/b/athenanailsgallery.appspot.com/o/img%2Fbg-img%2Fcta.png?alt=media&token=7a6bfa83-f5bc-4505-989a-7f260bde3966);">
    </div>
</section>