<header class="header-gallery">
    <div class="gallery"
        style="background-image: url('https://firebasestorage.googleapis.com/v0/b/athenanailsgallery.appspot.com/o/img%2Fbg-img%2F18.jpg?alt=media&token=5d482be8-5225-45fa-8ef1-461e9b0b2f7e')">
        <!-- Welcome Content -->
    </div>
</header>
<!-- Welcome Area End -->

<!-- Portfolio Area Start -->
<section class="akame-portfolio clearfix">
    <div class="our-service">
        <div class="about-title">
            <h2>Promotions</h2>
        </div>
        <div class="bg_border text-center"><img src="http://asiananailslounge.com/images/bg_borderpage.png"
                alt="bg_borderpage"></div>
    </div>

    <div class="container mt-50">
        <div class="row akame-portfolio-area">
            <!-- Single Portfolio Item -->
            {{#each promotion}}
            <div class="col-12 col-sm-6 col-lg-6 akame-portfolio-item  mb-30 wow fadeInUp" data-wow-delay="200ms">
                <div class="akame-portfolio-single-item promotion-item">
                    <div class="item" style="background: url('{{image}}');">
                    </div>
                    <!-- Thumbnail Zoom -->
                    <a href="{{image}}" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- Portfolio Area End -->
<div class="borderservices text-center" style="background: #f5f5dc;"><img
        src="http://luxxnailbar.net/images/bg_services.png" alt="">
</div>