  <header class="header-gallery">
        <div class="gallery"
            style="background-image: url('https://firebasestorage.googleapis.com/v0/b/athenanailsgallery.appspot.com/o/img%2Fbg-img%2F18.jpg?alt=media&token=5d482be8-5225-45fa-8ef1-461e9b0b2f7e')">
            <!-- Welcome Content -->
        </div>
    </header>
    <!-- Welcome Area End -->

    <section class="sanitation">
        <div class="our-service">
            <div class="about-title">
                <h2>Sanitation</h2>
            </div>
            <div class="bg_border text-center"><img src="http://asiananailslounge.com/images/bg_borderpage.png"
                    alt="bg_borderpage"></div>
        </div>
        <div class="sanitation-wrapper">
            <div class="content container">
                <div class="pledge_group">
                    <h3 class="mt-50">A Safe And Clean Salon</h3>
                    <h4>Dear valued customer,</h4>
                    There is nothing more important to us than your safety and comfort when you visit our salon. That's
                    why we pledge to adhere to the highest industry standards. We welcome your questions and will
                    address your concerns concisely and openly, and we will provide backup if you request it.

                    <h4>WITH YOUR SAFETY IN MIND</h4>
                    <ul>
                        <li>We sanitize and disinfect all reusable manicuring tools in accordance with state regulations
                            and industry "best practices". Any tools that can't be disinfected are disposed of or given
                            to the client after a single use. If you would like to bring in your own tools, you are
                            welcome to. We still disinfect your tools before using them, as required by state law.</li>
                        <li>We clean our hands prior to each service and ask you to do the same.</li>
                        <li>We use clean towels or manicure mats for each client.</li>
                        <li>We never use a blade to cut any skin, including calluses. Heavy callus needs to be taken
                            down gently and sometimes over the course of a few services.</li>
                        <li>We use only quality, professional-grade, legal, and safe products.</li>
                        <li>We take steps to minimize your expose to odors, vapors, and filing dust in the salon. These
                            steps include using covered waste cans, keeping products tightly covered, and taking out
                            only enough product to be used on your service.</li>
                        <li>We have Material Safety Data Sheets (MSDS) on all the products we use. If you have any
                            question about the safety of a product being used in your service, ask your technician.</li>
                        <li>If we used an electric file, we are trained to use it safely and painlessly.</li>
                    </ul>
                    <h4>WE TAKE PRIDE IN OUR PROFESSIONALISM</h4>
                    <ul>
                        <li>Our licenses are up-to-date and displayed.</li>
                        <li>We will evaluate the health of your nails before your service and refer you to a physician
                            if indicated. Be sure to let us know if you have any health conditions — like diabetes —
                            that may affect your service.</li>
                        <li>We will make recommendations for at-home maintenance of your nails. We encourage you to
                            understand your own role in keeping your nails in healthy and attractive condition.</li>
                        <li>We regularly take classes in techniques, health and safety, and product knowledge to enhance
                            the quality and safety of your services.</li>
                    </ul>
                    <h4>YOU MAY BE CONCERNED ABOUT SAFE PEDICURES. HERE IS WHAT WE DO TO ENSURE YOUR TOTAL SAFETY</h4>
                    <ul>
                        <li>Whirlpool pedicure spas come in different types: pipeless, piped systems, and non-electrical
                            pedicure basins. Our salon uses</li>
                        _________________________
                        <li>We have cleaning protocols, required by the state and recommended by the product
                            manufacturer. We have safety procedures that are done after every client, at the end of
                            every day, and once a week. You are welcome to look at the specific and detailed cleaning
                            protocol we follow (ask to see our "Best Practices for Cleaning Pedicure Equipment"). We
                            keep a log of our cleaning schedule, and you are also welcome to see that.</li>
                        <li>Our pedicure tools are disinfected or disposed of according to the high standards set by the
                            Nail Manufacturers Council (which in many cases, exceed the requirement of the State Board).
                            Any pedicure implements that can't be disinfected will be disposed of after use on a single
                            client.</li>
                        <li>Tools and implements that can be safely reused — such as nippers and electric file bits —
                            will be disinfected according to state regulations.</li>
                    </ul>
                    <h4 class="text-right">Sincerely,</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Area End -->
    <div class="borderservices text-center" style="background: #f5f5dc;"><img
            src="http://luxxnailbar.net/images/bg_services.png" alt="">
    </div>