 <header class="header-gallery">
        <div class="gallery"
            style="background-image: url('https://firebasestorage.googleapis.com/v0/b/athenanailsgallery.appspot.com/o/img%2Fbg-img%2F18.jpg?alt=media&token=5d482be8-5225-45fa-8ef1-461e9b0b2f7e')">
        </div>
    </header>
    <section class="our-service">
        <div class="about-title">
            <h2>Our Service</h2>
        </div>
        <div class="bg_border text-center"><img src="http://asiananailslounge.com/images/bg_borderpage.png"
                alt="bg_borderpage"></div>
        <div class="content_page">
            <a name="solar-nails"></a>
            <div class="services-box">
                <div class="service-group">
                    <h3>Solar Nails</h3>
                    <div class="service-img text-center">
                        <img class="item-img"
                            src="https://firebasestorage.googleapis.com/v0/b/athenanails-40c33.appspot.com/o/athenanails%2Fservice-08.jpg?alt=media&token=cdc68c33-3395-4219-8cb1-7a9c2f7cfe08"
                            alt="">
                        <img class="item-img"
                            src="https://firebasestorage.googleapis.com/v0/b/athenanails-40c33.appspot.com/o/athenanails%2Fservices-02.jpg?alt=media&token=d51261ca-f753-4e9d-aa7b-7b8b6984329e"
                            alt="">
                    </div>
                    <div class="service-grouprow">
                        <div class="row">
                            <div class="row_name">Solar nails</div>
                            <div class="price">$32</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Pearl/white tips set</div>
                            <div class="price">$35</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Pink and white Full set</div>
                            <div class="price">$55</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Pink and white Refill</div>
                            <div class="price">$45</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Regular Full Set</div>
                            <div class="price">$35</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Refill </div>
                            <div class="price">$25</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Refill same color powder </div>
                            <div class="price">$30</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Gillter powder whole nail</div>
                            <div class="price">$50</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Gillter powder fill</div>
                            <div class="price">$40</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Full set shellac</div>
                            <div class="price">$50</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Refill shellac</div>
                            <div class="price">$40</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Additional each color</div>
                            <div class="price">$15</div>
                        </div>
                        <div class="row">
                            <div class="row_name">SNS (Nextgen)</div>
                            <div class="price">$45 - $55 ( FRENCH TIPS)</div>
                            <div class="rownote">SNS are much thinner, light weight, most importantly, helps clients'
                                nails
                                grow out stronger and healthier by adding 5 different kinds of Vitamins and Calcium.
                            </div>
                        </div>
                        <div class="row">
                            <div class="row_name">Shellac Manicure</div>
                            <div class="price">$35 French $5 add on</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Shellac color only</div>
                            <div class="price">$25</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="borderservices text-center"><img src="http://luxxnailbar.net/images/bg_services.png" alt="">
            </div>
            <div class="services-box">
                <div class="service-group">
                    <h3>Pedicures</h3>
                    <div class="service-img text-center">
                        <img class="item-img"
                            src="https://firebasestorage.googleapis.com/v0/b/athenanails-40c33.appspot.com/o/athenanails%2Fservices-03.jpg?alt=media&token=8084bba8-b510-4ee9-8946-701820ee438c"
                            alt="">
                        <img class="item-img"
                            src="https://firebasestorage.googleapis.com/v0/b/athenanails-40c33.appspot.com/o/athenanails%2Fservices-06.jpg?alt=media&token=10c46dfe-4ebc-41d8-a942-e8ca353a8a1d"
                            alt="">
                    </div>
                    <div class="service-grouprow">
                        <div class="row">
                            <div class="row_name">#1 EZ PEDICURE</div>
                            <div class="price">$28</div>
                            <br>
                            <div class="rownote">- Warm feet soak, nail shaping, cuticle push.
                                <br>- Calluses are lightly exfoliated,foot mask hot towelwrap,massage lotion to hydrate,
                                buff
                                or polished of your choice.</div>
                            <div class="row_name"> Add on EZ MANICURE</div>
                            <div class="price">$16</div>
                        </div>

                        <div class="row">
                            <div class="row_name">#2 MINILUXX PEDICURE</div>
                            <div class="price">$33</div>
                            <br>
                            <div class="rownote">- In addition to the services provided in the basic pedicure, this
                                treatment gives you more:
                                <br>- Sea salt glow with vitamin E to remove old dry skin, moisturize your legs.</div>
                            <div class="row_name">Add on MINILUXX MANICURE</div>
                            <div class="price">$22</div>
                        </div>


                        <div class="row">
                            <div class="row_name">EXTRA FOOT MASSAGE (15ms - 30ms)</div>
                            <div class="price">$15-$30</div>
                        </div>
                        <div class="row">
                            <div class="row_name">YOUNG ROYAL PEDICURE</div>
                            <div class="price"></div>
                            <br>
                            <div class="rownote">(free 2 designs on big toes)<div class="price">Age 2-11 : $20</div>
                            </div>
                            <div class="row_name">YOUNG ROYAL MANICURE</div>
                            <div class="price">$10</div>
                        </div>

                        <div class="row">
                            <div class="row_name">#3 Passion Fruit Cocktail ( 8 mins scrub, 8 mins lotion)</div>
                            <div class="price">$45
                            </div>
                            <br>
                            <div class="rownote">
                                A soothing foot treatment that begins with an exfoliant of your choice. Soak your feet
                                in
                                sea salt to prep your nails for shaping and cuticle care. Rough feet are smoothed with a
                                callus treatment and then exfoliated with your choice of Passion fruit sugar scrub. End
                                with
                                a moisturizing foot massage. Finish with hot towel wrap, paraffin treatment and your
                                choice
                                of nail lacquer. Best to pair with our drink Passion fruit cocktails
                            </div>
                            <div class="row_name">Add on PASSION FRUIT MANICURE</div>
                            <div class="price">$27</div>
                        </div>

                        <div class="row">
                            <div class="row_name">#4 Avocado n Pressed Kale ( 8 mins scrub, 8 mins lotion)</div>
                            <div class="price">$45
                            </div>
                            <br>
                            <div class="rownote">
                                A soothing foot treatment that begins with an exfoliant of your choice. Soak your feet
                                in
                                sea salt to prep your nails for shaping and cuticle care. Rough feet are smoothed with a
                                callus treatment and then exfoliated with your choice of Avocado n Pressed Kale sugar
                                scrub.
                                End with a moisturizing foot massage. Finish with hot towel wrap, paraffin treatment and
                                your choice of nail lacquer. cocktails
                            </div>
                            <div class="row_name">Add on AVOCADO N PRESSED KALE MANICURE</div>
                            <div class="price">$27</div>
                        </div>

                        <div class="row">)<div class="row_name">#5 Raspberry Mimosa ( 10 mins scrub, 13 mins lotion
                            </div>
                            <div class="price">$55
                            </div>

                            <div class="rownote">
                                Experience our most luxurious pedicure package that will transform your legs and feet to
                                feel incredibly soft, and rejuvenated! Start by soaking your feet in an organic salt.
                                Your
                                legs and feet are then cleansed throughly. Rasberry sugar scrub is then used to
                                exfoliate,
                                leaving your legs and feet smooth. Apply wonderful anti-aging mask treatment has amazing
                                benefits such as helping to improve the appearance of fine lines and wrinkles. It
                                tightens,
                                firms and tones skin, slows down collagen depletion, increases blood circulation,
                                reduces
                                sun damage, hydrates the skin and gives it a majestic glow! Your legs and feet are then
                                wrapped with a hot towel before a Raspberry MIimosa body butter is massaged into the
                                feet to
                                generously pamper your soles and restore softness to your skin. And then the
                                finale....wrapped in paraffin wax. Your toes are then perfectly polished
                            </div>
                            <div class="row_name">Add on RASBERRY MIMOSA MANICURE</div>
                            <div class="price">$32</div>
                        </div>

                        <div class="row">
                            <div class="row_name">#6 MILK &amp; HONEY PEDICURE </div>
                            <div class="price">$55</div>
                            <br>
                            <div class="rownote">
                                This luxurious sugar scrub with awesome milk honey smell utilizes organic argan oil from
                                Morocco along with other essential oils and natural extracts to gently exfoliate,
                                moisturize, and leave skin feeling silky smooth. Seal moisturizer with organic masque,
                                hot
                                towel wrap and paraffin wax to finish.
                            </div>
                            <div class="row_name">Add on manicure</div>
                            <div class="price">$32</div>
                        </div>

                        <div class="row">
                            <div class="row_name">#7 Cucumber Fresh pedicure</div>
                            <div class="price">$55</div>
                            <br>
                            <div class="rownote">
                                - Wonderful cucumber scrub massaged into your feet and calves
                                <br>- Fresh slices of cucumber is applied, hydrating skin Cucumber masque is applied and
                                removed with soothing hot towels.
                                <br>- A relaxing reflexology massage with OPI massage lotion.
                                <br>- Finish with paraffin treatment
                            </div>
                            <div class="row_name">Add on manicure</div>
                            <div class="price">$32</div>
                        </div>

                        <div class="row">
                            <div class="row_name">#8 Oolong Milk Tea Pedi ( 10 mins scrub, 13 mins lotion)</div>
                            <div class="price">$55
                            </div>
                            <br>
                            <div class="rownote">
                                Take a journey to an extraordinary level of luxury to bring you a sense of well-being.
                                Our
                                Oolong Milk Tea combination soothes and softens the skin as it replenishes nutrients and
                                moisturizes tired feet. Milk &amp; Honey infused Dead Sea Soaking Salt will then be
                                added to
                                your water which aids softening the skin, softening of calluses, and removal of dead
                                skin.
                                Fresh, warm, organic milk will then be poured into your warm foot bath. Feet are then
                                soaked, prepped, and exfoliated with an Organic Milk Tea &amp; Honey + White Chocolate
                                Sugar
                                Scrub while an intense callus treatment is placed on your heels to break down stubborn,
                                rough skin. The masque will be put onto your feet and calf’s, wrapped with warm towels,
                                paraffin wax. Then the finale - Finish with an invigorating extended foot and leg
                                massage
                                with our Milk &amp; Honey lotion
                            </div>
                            <div class="row_name">Add on manicure</div>
                            <div class="price">$32</div>
                        </div>

                        <div class="row">
                            <div class="row_name">#9 The Lounge (Enjoy a complimentary heated neck pillow)</div>
                            <div class="price">$70
                            </div>
                            <br>
                            <div class="rownote">
                                <strong>This signature pedi is the best combine of hot stone &amp; OPI pedicure will
                                    give
                                    you the most relaxing time with a lot of massage, refreshing and moisturize your
                                    feet
                                    with top OPI products.</strong>
                                <br>- Finalize with warm paraffin wrap Smooth... Silky... Totally Indulgent
                                <br>- Enjoy a complimentary heated neck pillow
                            </div>
                            <div class="row_name">Add on Manicure</div>
                            <div class="price">$35</div>
                        </div>

                        <div class="row">
                            <div class="row_name">Shellac Basic Pedi-Mani Combo</div>
                            <div class="price">$85</div>
                        </div>
                        <div class="row">
                            <div class="row_name">French Shellac</div>
                            <div class="price">$5 extra</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Take off shellac on toe</div>
                            <div class="price">Extra $5</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="borderservices text-center"><img src="http://luxxnailbar.net/images/bg_services.png" alt="">
            </div>
            <div class="services-box">
                <div class="service-group">
                    <h3>Manicure & Pedicure combo</h3>
                    <div class="service-img text-center">
                        <img class="item-img"
                            src="https://firebasestorage.googleapis.com/v0/b/athenanails-40c33.appspot.com/o/athenanails%2Fservice-10.jpg?alt=media&token=d8d7316b-972e-4abd-9582-ed9c38498774"
                            alt="">
                        <img class="item-img"
                            src="https://firebasestorage.googleapis.com/v0/b/athenanails-40c33.appspot.com/o/athenanails%2Fservice-09.jpg?alt=media&token=84bd24aa-f5c4-4426-9e38-82cfa47e467f"
                            alt="">
                    </div>
                    <div class="service-grouprow">
                        <div class="row">
                            <div class="row_name">Quickie Pedi-Mani Combo</div>
                            <div class="price">$42</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Bahama mama Combo</div>
                            <div class="price">$70</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Passion Fruit Cocktail Combo</div>
                            <div class="price">$70</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Avocado n Pressed Kale Combo</div>
                            <div class="price">$70</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Raspberry Mimosa Combo</div>
                            <div class="price">$85</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Milk &amp; Honey Pedicure Combo</div>
                            <div class="price">$85</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Cucumber Fresh Pedicure Combo</div>
                            <div class="price">$85</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Oolong Milk Tea Pedi Combo</div>
                            <div class="price">$85</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Pamper me Kinky Combo</div>
                            <div class="price">$95</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="borderservices text-center"><img src="http://luxxnailbar.net/images/bg_services.png" alt="">
            </div>
            <div class="services-box">
                <div class="service-group">
                    <h3>Waxing-Threading</h3>
                    <div class="service-img text-center">
                        <img class="item-img"
                            src="https://firebasestorage.googleapis.com/v0/b/athenanails-40c33.appspot.com/o/athenanails%2Fservice-11.jpg?alt=media&token=f156e942-bb1e-4ae7-9ef5-6391bb68c2f9"
                            alt="">
                        <img class="item-img"
                            src="https://firebasestorage.googleapis.com/v0/b/athenanails-40c33.appspot.com/o/athenanails%2Fservices-04.jpg?alt=media&token=a856295e-4853-43d0-a59c-570690f52cb3"
                            alt="">
                    </div>
                    <div class="service-grouprow">
                        <div class="row">
                            <div class="row_name">Eyebrow</div>
                            <div class="price">$10 / $13</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Lip</div>
                            <div class="price">$7 / $10</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Chin</div>
                            <div class="price">$10 / $12</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Sideburn</div>
                            <div class="price">$15 / $22</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Eyebrow/Lip/Chin</div>
                            <div class="price">$27 / $32</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Whole Face</div>
                            <div class="price">$40 / $55</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Underarm</div>
                            <div class="price">$25 / $35</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Bikini</div>
                            <div class="price">$45</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Brazillian Wax</div>
                            <div class="price">$60-$75</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Half Leg</div>
                            <div class="price">$45</div>
                        </div>
                        <div class="row">
                            <div class="row_name">Full Leg</div>
                            <div class="price">$85</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="borderservices text-center"><img src="http://luxxnailbar.net/images/bg_services.png" alt="">
            </div>
    </section>
